.lab-signIn {
    /* background-color: #0febff; */
    display: flex;
}

.sign-in-form {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    border: 1px solid black;
    border-radius: 10px;
}
    /* float: left; */
    /* background-color: #0febff; */
/* /* } */
.dia{
    font-weight: 700;
    margin-top: 8px;
}

.logo_image{
    height: 5%;
    width: 5%;
    display: flex;
} 